# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# dotenv environment variables file
.env

# Temporary files
*.tmp
*.swp

# Compiled files
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace